$color: (
  background: (
    bg-lavender: #d8b4fe,
    bg-green: #86efac,
    bg-dark-green: #004643,
    bg-yellow: #fde047,
    bg-blue: #93c5fd,
  ),

  button: (
    btn-yellow: #facc15,
    btn-blue: #60a5fa,
    btn-green: #4ade80,
    btn-purple: #c084fc,
    btn-red: #d62b2b,
    btn-dark-green: #2f3e46,
  ),
);
