@mixin flexCenter($direction: row, $justify: center, $align: center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin neoShadow($offset: 4px) {
    border: 2px solid black;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    box-shadow: $offset $offset 0px black;

    &:hover {
        box-shadow: 1px 1px 0px black;
        transform: translate($offset, $offset);
    }
}