.deck-detail-page {
  .changing-cards-container {
    width: 100%;
    height: 430px;
    display: flex;
    justify-content: center;
    align-items: center;

    .internal-container {
      width: 500px;
      height: 100%;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .total-cards {
        font-weight: bold;
      }

      .button-container {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}
